.root {
    -fx-background-color: #F0F0F0;
}

#btnSave, #btnBack {
    -fx-background-color: #3CB371;
    -fx-text-fill: white;
}

#btnSave:hover, #btnBack:hover {
    -fx-border-color: #F0F0F0; /* Light green border color */
    -fx-text-fill: white; /* Text color */
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

/*#cmbParkName .list-cell {*/
/*    -fx-text-fill: white;*/
/*    -fx-background-color: #F0F0F0;*/
/*}*/

/*#cmbParkName .list-view .list-cell:hover {*/
/*    -fx-background-color: #34495e;*/
/*}*/

/*#cmbParkName .list-view .list-cell:selected {*/
/*    -fx-background-color: #f39c12;*/
/*}*/

/*#cmbParkName .arrow-button {*/
/*    -fx-background-color: #34495e;*/
/*    -fx-background-insets: 0;*/
/*}*/

/*#cmbParkName .arrow-button:hover {*/
/*    -fx-background-color: #f39c12;*/
/*}*/

#lblTitle {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #11142D;
    -fx-padding: 0 0 20 0;
}

#lblOrderId, #lblNumVisitors, #lblPark, #lblEmail, #lblDate, #lblTime, #lblTel {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #11142D;
}

#vboxPage {
    -fx-padding: 20 20 20 20;
}