.root {
    -fx-background-color: #deb887;
}

#btnSave, #btnBack {
    -fx-background-color: #3CB371;
    -fx-text-fill: white;
}

#btnSave:hover, #btnBack:hover {
    -fx-border-color: #4CAF50; /* Light green border color */
    -fx-text-fill: white; /* Text color */
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

#cmbParkName .list-cell {
    -fx-text-fill: white;
    -fx-background-color: #4CAF50;
}

#cmbParkName .list-view .list-cell:hover {
    -fx-background-color: #34495e;
}

#cmbParkName .list-view .list-cell:selected {
    -fx-background-color: #f39c12;
}

#cmbParkName .arrow-button {
    -fx-background-color: #34495e;
    -fx-background-insets: 0;
}

#cmbParkName .arrow-button:hover {
    -fx-background-color: #f39c12;
}
