@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    -fx-font-family: Montserrat, sans-serif;
    -fx-font-weight: 500;
}

/* CSS for the menu */
.menu {
    -fx-background-color: #263238; /* Dark background color */
}

.menu-label {
    -fx-text-fill: white; /* White text color */
}

.menu-box {
    -fx-z-index: 1000; /* Z-index */
}

.menu-item, .menu-item-big {
    -fx-background-color: transparent;
    -fx-border-color: #39a569; /* White-ish border color */
    -fx-border-width: 1px; /* Adjust border width as needed */
    -fx-border-radius: 5px; /* Optional: rounded corners */
    -fx-text-fill: #FCFCFC; /* Text color */
    -fx-font-size: 14px; /* Adjust font size as needed */
    -fx-padding: 10px 20px; /* Adjust padding as needed */
    -fx-alignment: center;
}

.menu-item-big {
    -fx-pref-width: 200px !important;
}

.menu-item:hover, .menu-item-big:hover {
    -fx-background-color: #3e4462; /* White background color on hover */
    -fx-text-fill: #FCFCFC; /* Text color on hover */
}

.username {
    -fx-text-fill: #90A4AE; /* Light text color for username */
    -fx-font-size: 14px !important; /* Font size */
}

.user-role {
    -fx-text-fill: #90A4AE; /* Light text color for user role */
    -fx-font-size: 14px !important; /* Font size */
}

.logout {
    -fx-text-fill: white; /* White text color for logout */
    -fx-font-size: 14px; /* Font size */
    -fx-padding: 8px 0; /* Padding */
    -fx-cursor: hand; /* Cursor style */
}

.logout:hover {
    -fx-background-color: #37474F; /* Darker background color on hover */
}

#logoutBtnMenu {
    -fx-font-size: 14px; /* Adjust font size as needed */
    -fx-padding: 10px 20px; /* Adjust padding as needed */
    -fx-alignment: center;
    -fx-background-color: #263238; /* White background color */
    -fx-text-fill: #FF6A69; /* Black text color */
    -fx-border-color: #FF6A69; /* White border color */
    -fx-border-width: 1px; /* Border width */
    -fx-border-radius: 5px; /* Border radius */
}

#logoutBtnMenu:hover {
    -fx-background-color: #3e4462; /* Black background color on hover */
    -fx-text-fill: #FF6A69; /* White text color on hover */
}

.error-text {
    -fx-text-fill: #FF6A69; /* Red text color */
    -fx-font-size: 16px; /* Font size */
    -fx-font-weight: 700; /* Bold text */
}

#appName {
    -fx-text-fill: #FCFCFC; /* White text color */
    -fx-font-size: 20px; /* Font size */
    -fx-font-weight: 700; /* Font weight */
}

.actButtonGreen {
    -fx-background-color: #39a569;
    -fx-text-fill: #FCFCFC;
}

.actButtonGreen:hover {
    -fx-border-color: #4CAF50; /* Light green border color */
    -fx-background-color: #2C8052FF;
}

.signInBtn {
    -fx-border-color: #39a569;
    -fx-text-fill: #11142D;
    -fx-font-size: 18px;
}

.signInBtn:hover {
    -fx-border-color: #53c157; /* Light green border color */
}

.parkImages {
    -fx-background-color: #263238; /* Dark background color */
    -fx-background-size: cover; /* Cover background */
    -fx-background-position: center; /* Center background */
    -fx-background-repeat: no-repeat; /* No repeat */
}

#shadow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 2);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-opacity: 0.8;
}

.linkText {
    -fx-underline: true;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.linkText:hover {
    -fx-text-fill: #11142D;
    -fx-font-size: 24px;
}

#billPane Text, #rootBillPane Text {
    -fx-fill: #000000;
}


.combo-box .arrow {
    -fx-background-color: #ffffff; /* Arrow background color */
    -fx-shape: "M 0 0 L 5 5 L 10 0 Z"; /* Default arrow shape */
    -fx-rotate: 0; /* Initial rotation angle */
}

.combo-box .arrow-button {
    -fx-background-color: transparent; /* Arrow button background color */
}

.combo-box .list-cell {
    -fx-padding: 5px; /* Padding for list cells */
}

.combo-box .list-view {
    -fx-background-color: #77c97f; /* Background color for the dropdown */
    -fx-border-color: #53c157; /* Border color for the dropdown */
    -fx-border-radius: 10px; /* Border radius for the dropdown */
}












